.ios, .md {

    page-juego {

        .tap-reveal-container {
            width: 100%;
            height: 100%;

        }

        .estadisticas1 {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 1000ms;
        }

        .estadisticas2 {
            position: absolute;
            top: 50%;
            left: 0;
            transition: opacity 1000ms;
        }

        .pregunta1, .pregunta2, .estadisticas1, .estadisticas2 {
            width: 100%;
            height: 50%;
            background-color: map-get($colors, danger);
            color: #fff;
            padding: 20px;
            text-align: center;

            h2 {
                margin: 0px;
            }
        }

    }

}
